@font-face {
    font-family: 'Agrandir';
    src:
        url('/fonts/Agrandir-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Agrandir-Narrow';
    src: url('/fonts/Agrandir-Narrow.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Theseasons-Italic';
    src: url('/fonts/theseasons-ltit.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}